<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur3_hand_d435">
        
    <property name="M_PI" value="3.14159265359" />
    <property name="kinect_prefix1" value=""/>
    <property name="robot_prefix1" value=""/>
    <property name="prefix" value=""/>    
    <property name="torso_height" value="0.5"/>
    <!-- common stuff -->
    <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

    <!-- ur3 -->
    <xacro:include filename="$(find ur_description)/urdf/ur3.urdf.xacro" />

    <!-- arm --> 
    <xacro:ur3_robot prefix="" joint_limited="true"
        shoulder_pan_lower_limit="${-pi/2}" shoulder_pan_upper_limit="${pi/2}"
        shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
        elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
        wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
        wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
        wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    />        

    <!-- total ur_ar10 system world -->
    <link name="world" />    
    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="base_pillar"/>        
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>        
    </joint>    

    <!-- ROS base_link to UR 'Base' Coordinates transform -->
    <joint name="${prefix}base_pillar_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="${prefix}base_pillar"/>
    </joint>
    <link name="${prefix}base_pillar">
      <visual>
        <geometry>
            <box size="0.260 0.240 0.875"/>
          <!--mesh filename="package://gripper_ur3/mesh/UR3_BASE_down.stl" scale="0.001 0.001 0.001"/-->
        </geometry>
        <!--mesh: origin xyz="0 0 0.110" rpy="0 0 ${pi/2}"/-->
        <origin xyz="0 0 0.4375" rpy="0 0 ${pi/2}"/>
        <material name="white">
          <color rgba="${150/255} ${150/255} ${150/255} 1.0"/>
        </material>
      </visual>
      <collision>        
        <geometry>
            <box size="0.260 0.240 0.875"/>
          <!--mesh filename="package://gripper_ur3/mesh/UR3_BASE_down.stl" scale="0.001 0.001 0.001"/-->
        </geometry>
        <origin xyz="0 0 0.4375" rpy="0 0 ${pi/2}"/>
      </collision>
      <!--xacro:default_inertial mass="10"/-->
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="50"/>
        <inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1" />
      </inertial>
    </link>

    <!-- define joint from base_pillar to base_link-->
    <joint name="${prefix}base_link_joint" type="fixed">
      <origin xyz="0 0 0.875" rpy="0 0 0"/>
      <parent link="${prefix}base_pillar"/>
      <child link="${prefix}base_link"/>
    </joint>

    <xacro:include filename="$(find common_sensors)/urdf/sensors/my_d435.urdf.xacro" /> <!-- in the sim_ws-->

    <!-- D435 mount -->
    <link name="mount_link">
        <visual>
            <geometry>
                <box size="0.125135 0.061 0.01"/> 
                <!--mesh filename="package://gripper_ur3/mesh/d435_mount_down.stl" scale="0.001 0.001 0.001"/--> 
            </geometry>
            <origin xyz = "0.0044 0.0 -0.0335" rpy = "0.0 ${pi/2} 0.0"/>
            <material name="LightGrey">
                  <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz = "0.0044 0.0 -0.0335" rpy = "0.0 ${pi/2} 0.0"/>
            <geometry>
                <box size="0.125135 0.061 0.01"/> 
                <!--mesh filename="package://gripper_ur3/mesh/d435_mount_down.stl" scale="0.001 0.001 0.001"/--> 
            </geometry>
        </collision>    
    </link> 
    <!-- D435 camera -->
    <sensor_d435 parent="mount_link">
        <!--origin xyz="0.026 0 -0.068" rpy="${-pi} 0 0"/-->
        <origin xyz="0.025 0.0 -0.06725" rpy="${-pi} 0 0"/>
    </sensor_d435>

    <joint name="mount_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="ee_link"/>
        <child link="mount_link"/>
    </joint>

    <link name="handmount_link">
      <visual>      
            <geometry>
                  <box size="0.0571 0.061 0.05"/>
                  <!--mesh filename="package://gripper_ur3/mesh/ur_hand_mount_down.stl" scale="0.001 0.001 0.001"/--> 
            </geometry>      
            <origin xyz = "0.038 0.0 0.0" rpy = "0.0 0.0 0.0"/>
            <material name="LightGrey">
                  <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
      </visual>
      <collision>
            <origin xyz = "0.038 0.0 0.0" rpy = "0.0 0.0 0.0"/>
            <geometry>
                  <box size="0.0571 0.061 0.05"/>
                  <!--mesh filename="package://gripper_ur3/mesh/ur_hand_mount_down.stl" scale="0.001 0.001 0.001"/--> 
            </geometry>
      </collision>
    </link>
    <joint name="handmount_joint" type="fixed">
          <origin xyz = "0.0 0.0 0.0" rpy = "0.0 0.0 0.0"/>
          <parent link="mount_link"/>
          <child link="handmount_link"/>
    </joint>
<!--
    <link name="HJ_hand_link">
      <visual>                  
            <geometry>
                  <mesh filename="package://gripper_ur3/mesh/F01_AL_link_hand_down.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <origin xyz = "0.067 0.0 0.0" rpy = "${pi} 6.28319 ${pi/2}"/>
            <material name="LightGrey">
                  <color rgba="0.9 0.9 0.2 1.0"/>
            </material>      
      </visual>
      <collision>
            <origin xyz = "0.067 0.0 0.0" rpy = "${pi} 6.28319 ${pi/2}"/>
            <geometry>
                  <mesh filename="package://gripper_ur3/mesh/F01_AL_link_hand_down.stl" scale="0.001 0.001 0.001"/>
            </geometry>
      </collision>          
    </link>
    <joint name="HJ_hand_joint" type="fixed">
            <origin xyz = "0.0 0.0 0.0" rpy = "0.0 0.0 0.0"/>         
            <parent link="handmount_link"/>
            <child link="HJ_hand_link"/>            
    </joint>
-->
</robot>

